:root {
  /* COLORS */
  --background-color: #ffffff;
  --primary-color: #42a5f5;
  --primary-text-color: #ffffff;
  --secondary-color: #ebeae4;
  --text-color: #050505;
  --danger-color: #eb5c5c;

  /* COLORS: HOVER */
  --hover-primary-color: #1976d2;
  --hover-secondary-color: #dfded8;

  /* COLORS: DISABLED */
  --disabled-background: #ebeae4;
  --disabled-text: #c4c3bc;

  /* SIZES */
  --border-radius: 8px;
}
